<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>    
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <title>登录</title>
    <link th:href="@{../static/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{../static/css/a3common.css}" rel="stylesheet">
    <link rel="stylesheet"th:href="@{../static/css/login.css}">
    <link rel="stylesheet" th:href="@{../static/css/font_43459_lbtux0zjkr6yldi.css}">
    <script th:src="@{../static/js/axios.min.js}"></script>
    <script th:src="@{../static/js/jquery-3.6.0.min.js}"></script>
    <script th:src="@{../static/js/cookieHandle.js}"></script>
    <script th:src="@{../static/js/qs.js}"></script>
    <script>
        function thirdLogin(){
            console.log("jin")
            window.location.href = "http://localhost:8002/oauth/authorize?response_type=code&client_id=curl_client&redirect_uri=http://localhost:8001&scope=read";
        }
        // 获取页面地址后面的url参数
        function params(sHref){
            let args = sHref.split('?');
            console.log(args[0])
            if(args[0] == sHref){
                return "";
            }
            let arr = args[1].split('&');
            let obj = {};
            for(let i = 0;i< arr.length;i++){
                let arg = arr[i].split('=');

                obj[arg[0]] = arg[1];
            }
            return obj;
        }
        $(function (){
            const hh = window.location.href;
            const obj = params(hh);
            if(obj!=null && obj!=""){
                const code = decodeURI(obj.code);
                console.log("授权码：" + code);
                // 客户端id和密钥，以冒号连接，并base64编码
                const x = window.btoa('curl_client'+':'+'123');
                const dd = {
                    "grant_type": "authorization_code",
                    "redirect_uri": "http://localhost:8001",
                    "code": code
                };
                // 拿令牌
                axios({
                    method: 'post',
                    url: "http://localhost:8002/oauth/token",
                    headers: {
                        'Content-Type': 'application/x-www-form-urlencoded; charset=UTF-8',
                        'Authorization': "Basic "+ x
                    },
                    data: Qs.stringify(dd)
                }).then(res => {
                    console.log("返回的数据：" + res.data);
                    /*{
                        "access_token": "09f402dd-2f52-4fd6-89a0-8233b2870768",
                        "token_type": "bearer",
                        "expires_in": 3426,
                        "scope": "read"
                    }*/
                    // 拿到访问令牌
                    const accessToken = res.data.access_token;
                    console.log("访问令牌："+accessToken)
                    setCookie("accessToken",accessToken);
                    window.location.href = "http://localhost:8001/ok"
                })
            }
        })
    </script>
</head>
 
<body>


    <div id="main" class="main-warp">
        <div class="main-content">
            <div class="formDiv">
                
                    <h2 class="text-center">登录</h2>
                
                
                <form id="loginForm" method="post">
                    <div class="dataform" >
                        <div class="input-warp gap">
                            <span class="input-icon iconfont icon-yonghu1"></span>
                            <input id="userName" name="username" type="text" class="inputs" placeholder="手机号码或邮箱" maxlength="64">
                        </div>
                        <div class="error-content">
                            <span id="userNameErr" class="errMsg"></span>
                        </div>

                        <div class="input-warp gap">
                            <span class="input-icon iconfont icon-baomi"></span>
                            <input class="inputs" type="password" name="password" placeholder="密码" id="pwd" maxlength="20">
                        </div>
                        <div class="error-content">
                            <span id="passwordErr" class="errMsg"></span>
                        </div>

                        <div class="btn-warp gap">
                            <div class="text-center">                               
                                <input type="hidden" value="jsform" id="_app"/>
                                <button type="submit" id="btnLogin" class="btn btn-block lgbtn blue">登录</button>
                                <br>
                                <button id="btnThird" type="button" onclick="thirdLogin()" class="btn btn-block lgbtn blue">选择第三方登录</button>
                            </div>
                        </div>
                        <div class="gap">
                            
                                <div class="pull-right" style="margin-top: 6px"><a href="javascript:;" class="link">忘记密码</a><span class="split-space">|</span><a href="register.html" class="link">新用户注册</a></div>
                            
                            <div class="pretty-box">
                                <input type="checkbox" value="1" name="REMEMBER" id="remember" class="">
                                <label for="remember" style="font-weight: normal" >记住我</label>
                            </div>
                        </div>

                        
                            <div class="biggap third-party-title">
                                <h5 class="text-center"><span>第三方账号登录</span></h5>
                            </div>
                            <div class="third-auth">                              
                                
                                <a title="用钉钉登录" class="dt" href="javascript:;"></a>                                
                                <a title="用微信账户登录" class="wx" href="javascript:;"></a>
                                <a title="用QQ账户登录" class="qq" href="javascript:;"></a>
                                
                            </div>
                        
                    </div>
                </form>

            </div>
        </div>
    </div>

</body>
</html>
